* {
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content>h1 {
  padding: 15px;
}

.waves {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.parallax>use {
  animation: move-forever 12s linear infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
}

.parallax>use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%)
  }
  100% {
    transform: translate(85px, 0%)
  }
}

.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

/*prevent many large-by-comparison ripples by shrinking the height*/

@media (max-width:50em) {
  .content h1 {
    font-size: 12vmax
  }
  .editorial {
    height: 17vw;
  }
}